.wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
	flex-grow: 1;
	padding-bottom: 3rem;

	.btn {
		min-width: 250px;
	}
}

.image {
	width: min(100% - 30px, 700px);
	margin-inline: auto;
	margin-bottom: 1rem;
}
.title {
	font-size: clamp(2.5rem, 5vw, 3.5rem);
	font-weight: 900;
	font-family: "Merriweather", serif;
	text-transform: uppercase;
	line-height: 1.3;
	color: var(--clr-org);
	margin-bottom: 0.2em;
}
.desc {
	font-size: clamp(1.75rem, 5vw, 2.2rem);
	color: #333;
	margin-bottom: 4rem;
	line-height: 1.3;
}

.btnWrapper {
	margin-top: auto;
}
.cta {
	font-size: 1.5rem;
	font-weight: 700;
	margin-bottom: 1rem;
}
