.wrapper {
	--fz-normal: 2rem;
	--fz-compact: 1.125rem;
	margin-bottom: 1rem;
	user-select: none;
	font-size: var(--fz-normal);
}

.wrapper.compact {
	--fz-normal: 1.25rem;
	--fz-compact: 0.825rem;
}

.heading {
	font-size: var(--fz-compact);
	font-weight: 700;
	margin-bottom: 0.625rem;
	text-align: center;
	color: hsl(0, 100%, 54%);
}

.clockWrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: inherit;
	gap: 0.525em;
}

.numberWrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	row-gap: 8px;
}

.number {
	font-size: var(--fz-normal);
	font-weight: 700;
	line-height: 1.2;
	text-align: center;
	padding: 0.2em 0.2em;
	background-color: var(--clr-org);
	border-radius: 8px;
	color: var(--clr-gray-300);
}

.prefix {
	text-transform: uppercase;
	font-size: var(--fz-compact);
	font-weight: 500;
	color: hsl(0, 0%, 60%);
}
