.btn {
	display: inline-block;
	font-size: var(--fs-500);
	font-weight: var(--fw-semi-bold);
	background-color: var(--clr-green);
	color: white;
	padding: 0.525em 1.25em;
	border: none;
	border-radius: 100vw;
	cursor: pointer;
	transition: background-color 300ms;
	user-select: none;
	text-transform: uppercase;

	&:hover,
	&:active {
		opacity: 0.9;
	}

	&.btn-no-bg {
		background-color: transparent;
		color: hsl(204, 100%, 60%);
	}
}
