.wrapper {
	display: grid;
	grid-auto-flow: row;
	grid-template-rows: 1fr auto;
	flex-direction: column;
	width: 100%;
	border-radius: 15px;
	padding: 1rem 0.625em;
	box-shadow: 0 0 10px hsl(0, 0%, 0%, 0.15);

	h2 {
		font-size: 1.5625rem;
		font-weight: 700;
		line-height: 1.1;
		color: hsl(211, 92%, 55%);
		column-gap: 8px;
		flex-wrap: wrap;

		span {
			font-size: 0.875rem;
			font-weight: 500;
			color: #fff;
			background-color: hsl(40, 97%, 54%);
			padding: 0.3em 0.4em;
			border-radius: 8px;
			line-height: 1;
			letter-spacing: 0.3px;
			position: relative;
			bottom: 3px;
			margin-left: 5px;
		}
	}
}

.descWrapper {
	display: flex;
	justify-content: center;
	align-items: start;
	flex-direction: column;
	flex-grow: 1;

	.text {
		font-size: 1.125rem;
		font-weight: 700;
		color: #333;
	}

	.listWrapper {
		list-style-type: none;
	}

	.listItem {
		display: flex;
		align-items: center;
		justify-content: start;
		gap: 8px;
		margin-bottom: 3px;
	}

	.icon {
		width: 20px;
		height: 20px;
	}

	.content {
		font-size: 1.0625rem;
		font-weight: 500;
		color: #333;
	}
	.price {
		display: flex;
		column-gap: 8px;
		flex-wrap: wrap;
		font-size: 1.25rem;
		font-weight: 500;
		color: hsl(0, 100%, 45%);
		margin-bottom: 0.5em;

		span {
			color: hsl(0, 0%, 74%);
			margin-left: 5px;
			position: relative;
			&:after {
				content: "";
				width: calc(100% + 5px);
				height: 2px;
				background-color: currentColor;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
		}
	}

	.btn {
		border-radius: 15px;
		width: 100%;
		background-color: hsl(211deg, 92%, 55%);

		&.btnSecondary {
			color: hsl(211deg, 92%, 55%);
			background-color: hsl(0, 0%, 100%);
			border: 1px solid currentColor;
		}
	}
}
