.circle {
	--color: hsl(0, 82%, 54%);
	position: relative;
	margin: auto;
	height: 300px;
	width: 300px;
	text-align: center;
	overflow: hidden;

	.countdownNumber {
		color: var(--color);
		display: inline-block;
		line-height: 300px;
		font-size: 4rem;
		animation: zoomIn 1000ms linear forwards infinite;
	}

	svg {
		position: absolute;
		top: 0;
		right: 0;
		width: 300px;
		height: 300px;
		transform: rotateY(-180deg) rotateZ(-90deg);
	}

	svg circle {
		stroke-dasharray: 912px;
		stroke-dashoffset: 0px;
		stroke-linecap: round;
		stroke-width: 8px;
		stroke: var(--color);
		fill: none;
		animation: countdown var(--timeEnd, 5s) linear forwards;
	}

	@keyframes countdown {
		from {
			stroke-dashoffset: 0px;
		}
		to {
			stroke-dashoffset: 912px;
		}
	}

	@keyframes zoomIn {
		from {
			scale: 1;
		}
		to {
			scale: 3;
			opacity: 0;
		}
	}
}
