header {
	background-color: var(--bg-primary);

	.wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-block: 1em;
	}
}

.logo {
	width: min(150px, 100px + 5vw);
}
