.video {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	flex-grow: 1;
	padding: 40px 0 25px;
	min-height: 100%;
}

.video__bodyWrapper {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	width: 100%;

	& > *:first-child {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
	}
	.fs-sec-heading {
		margin-bottom: 15px;
	}
	.btn {
		margin-top: auto;
		margin-inline: auto;
	}
	.support {
		margin-top: 1rem;
	}
}
