.listWrapper {
	--fs-sec-heading: clamp(var(--fs-500), 5vw, var(--fs-600));

	animation: slideIn 500ms cubic-bezier(0, 0, 0.05, 0.98) forwards;

	.textCta {
		font-size: 1.125rem;
		font-weight: 700;
		line-height: 1.4;
		color: #333;
		margin-bottom: 0.625em;
	}

	.packageWrapper {
		display: grid;
		justify-items: start;
		align-items: space-between;
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
		gap: 10px;
	}
}
